
body{
    margin: 0;
    font-size: 100%;
    font-family: 'Space Grotesk', sans-serif;
    background-color: white;
    width: 100%;
}

.principal-prom{
    width: 80%;
    margin-bottom: 3%;
}

.img-productos{
    height: 60%;
    width: 80%;
    border-radius: 20%;
    box-shadow: 5px 5px 5px #ecb5de;
}

.img-productos:hover{
    transform: scale(1.1);
}

.btn-principal{
    text-align: center;
    padding-bottom: 2%;
}

.btn-mostrar{
    margin-top: 2vh;
    box-sizing: border-box;
    border-color: #e353bf;
}

.btn-mostrar:hover{
    background-color:#e353bf; 
    scale: 1.2;
    border-radius: 30vh;
    font-weight: 600;
}

.carousel-item img{
    height:80vh;
}

.bebidas-conalc{
    width: 100%;
}

.carousel-caption{
    color: black;
    text-align: center;  
}

.btn-bebidas{
    text-align: left;
    border-radius: 50%;
    background-color: #ecb5de;
    font-size: 130%;
    font-weight: 800;
    border: none;
}

.btn-bebidas:hover{
    scale: 1.3;
    background-color: #e353bf ;
}

.txt-conalc{
    margin: 0%;
    box-sizing: border-box;
    width: 60vh;
    align-items: center;
    font-size: 150%;
    margin-top: 8vh;
}

/*snacks*/

h2{
    text-align: center;
    background-color:#e353bf  ;
    width: 100%;
    font-family: 'Space Grotesk', sans-serif;
    font-weight:800 ;
}

h4{
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
}

.snacks, .cigarrillos{
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 1vh;
}

.card {
    margin: 2%;
    border: solid #ecb5de;
}

p{
    padding: 3px;
    margin-top: 1vh;
    align-self: center;
    font-size: 120%;
    font-weight: 600;
}

.snack-boton{
   border: 2px solid #e353bf;
   text-decoration: none;
   color: black;
   font-size: 3vh;
   background-color: #ecb5de;
   padding: 0.5vh;

}

.card:hover{
    transform: scale(1.1);
    border-color: #e353bf;
    
}

.snack-boton:hover{
    background-color:#ecb5de;
    font-weight: 600;
    border-radius: 2vh;
}

.card-img-cigarros{
    height: 50%;
}

.publicidades {
    flex-direction: row;
    float: right;
    width: 20%;
    margin-top: 5VH;
    height: 46vh;
}

.publicidad1{
    margin-top: 10vh;
    padding: 1vh;
}

.publicidad1 img{
    width: 45vh;
    padding: 1vh;
}

.publicidad2{
    margin-top: 8vh; 
    padding: 1vh; 
}

.publicidad2  img{
    width: 45vh;
    padding: 1vh;
}

.publicidad3{
    margin-top: 8vh; 
    padding: 1vh;
}

.publicidad3 img{
    width: 45vh;
    height: 40vh;
}
   
.bg-NAV {
    background-color: #ecb5de;
}
          
.bg-footer {
    background-color: #ecb5de;
}

.Derechos{
    background-color: #d14db0;
    text-align: center;
}


/*media query*/

@media only screen and (max-width: 480px){

    .publicidad1 img{
        visibility: hidden;
        width: 1vh;
    }

    .snacks, .cigarrillos{
        display: flex;
        flex-wrap: wrap;
        padding-left: 10vh;
    }

    .publicidad2 {
        margin-top: -10vh ;
    }

    .publicidad2 img{
        width: 15vh;
        margin-top: 1vh ; 
        padding-right: 2vh;
        padding-left: 0vh;
    }

    .publicidad3 img{
        width: 13vh;
        height: 12vh;   
    }

    .carousel-item img{
        width: 55vh;
    }


}



@media only screen and (min-width: 481px) and (max-width: 767px)  {

    .container{
        padding: auto;
    }

    .publicidad1 img {
        visibility: hidden;
        width: 1vh;
    }

    .publicidad2 {
        margin-top: -10vh ;
    }

    .publicidad2 img{
        width: 19vh;
        margin-top: 8vh ; 
 
    }

    .publicidad3 img{
        width: 18vh;
        height: 18vh;
       
    }

    .snacks, .cigarrillos{
        display: flex;
        flex-wrap: wrap;
        padding-left: 20vh;
    }

    .carousel-item img{
        width: 40vh;
    }

    .rounded mx-auto d-block{
        padding: 1vh;
    }

}


@media only screen and (min-width: 767px) and (max-width: 980px){

    .snacks, .cigarrillos{
        display: flex;
        flex-wrap: wrap;
        padding-left: 20vh;
    }

    .publicidad2 img{
        visibility: hidden;
        width: 1vh;
    }

    .publicidad1 img{
        width:25vh;
    }

    .publicidad2{
        margin-top: -35vh;
    }

    .publicidad3{
        margin-top: 40vh;
    }

    .publicidad3 img{
        width: 25vh;
        height: 25vh;
        padding-right: 2vh;
    }

    .txt-conalc{
        visibility: hidden;
        width: 1vh;
    }
    
}

@media only screen and (min-width: 980px) and (max-width: 1024px){
    .txt-conalc{
        visibility: hidden;
        width: 1vh;
    } 

    .publicidad1 img{
        width: 35vh;
        padding-right: 2vh;
    }

    .publicidad2 img{
        width: 35vh;
        padding-right: 2vh;
    }

    .publicidad3 img{
        width: 35vh;
        height: 35vh;
        padding-right: 2vh;
    }

    .publicidad2{
        margin-top: 5vh;
    }

    .publicidad3{
        margin-top: 5vh;
    }
}


@media only screen and (min-width: 1025px) and (max-width: 1500px){

    .publicidad1 img{
        width: 40vh;
        padding-right: 3vh;
    }

    .publicidad2 img{
        width: 40vh;
        padding-right: 3vh;
    }

    .publicidad3 img{
        width: 40vh;
        height: 40vh;
        padding-right: 3vh;
    }

    .publicidad2{
        margin-top: 7vh; 
    }

    .publicidad3{
        margin-top: 7vh;
    }

}