*{margin: 0;
    padding: 0;}
    
    
    .bg-NAV {
        background-color: #ecb5de;
        font-family: 'Space Grotesk', sans-serif;
    }
    
    
    
    .bg-footer {
        background-color: #ecb5de;;
        font-family: 'Space Grotesk', sans-serif;
    }
    
    .Derechos{
        background-color: #c058a6;;
        text-align: center;
        font-family: 'Space Grotesk', sans-serif;
    }
    .registro-form {
        max-width: 600px;
        margin: 100px auto;
        padding: 30px;
        background: #c058a6;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        font-family: 'Space Grotesk', sans-serif;
    }
    
    .form-container {
        display: flex;
        font-family: 'Space Grotesk', sans-serif;
        justify-content: space-between;
    }
    
    .form-column {
        flex: 1;
        padding: 0 10px;
    }
    
    label {
        display: block;
        margin-bottom: 8px;
        font-family: 'Space Grotesk', sans-serif;
    }
    
    
    @media (max-width: 768px) {
        .form-container {
            flex-direction: column;
        }
        .form-column {
            flex: auto;
            padding: 0;
        }
    }